snippet checke "Check Error"
if err != nil {
	return err
}
${0}
endsnippet

snippet ie "Check Error"
if err != nil {
	panic(err)
}
${0}
endsnippet

snippet st "Println"
fmt.Println(${1})${0}
endsnippet

snippet start "Starting code"
package main

import (
	"fmt"
)

func main() {
	fmt.Println("hello")
}
endsnippet

snippet cq "Current Question"
app.result.questions[app.curResultIndex]${0}
endsnippet

